# Pandas 
Esta notebook tiene dos objetivos:

1. El principal es familiarizarse con los DataFrames de Pandas, manipular sus funciones básicas y entender la lógica de las mismas (para después googlearlas!).
2. Empezar a trabajar con Datasets (más) reales.

### ¡Manos a la obra!
Primero, importamos las librerías necesarias y los comandos que son necesarios ejecutar una única vez.

In [1]:
import pandas as pd

Como primer paso, vamos a crear nuestro propio dataset. Es decir, agarrar a mano los datos poblacionales de http://www.ign.gob.ar/nuestrasactividades/geografia/datosargentina/divisionpolitica y guardarlos en una variable "data_dic".¿Qué tipo de variable es?

**Nota**: la población está en número de habitantes y la superficie en km2.

In [2]:
data_dic = {"Jurisdiccion":["CABA","Buenos Aires","Catamarca","Chaco","Chubut","Córdoba","Jujuy","Mendoza","Misiones","Río Negro","Santa Cruz",
                           "Santa Fe"],"Poblacion":[2890151,15625084,367828,1055259,99633,3308876,673307,1738929,
                                                   1101593,638645,273964,3194537],"Superficie":
           [200,307521,102606,99633,509108,165321,53219,148827,29801,203013,243943,133007]}

In [3]:
# Creamos el DataFrame
data_pandas = pd.DataFrame(data_dic)
data_pandas

    Jurisdiccion  Poblacion  Superficie
0           CABA    2890151         200
1   Buenos Aires   15625084      307521
2      Catamarca     367828      102606
3          Chaco    1055259       99633
4         Chubut      99633      509108
5        Córdoba    3308876      165321
6          Jujuy     673307       53219
7        Mendoza    1738929      148827
8       Misiones    1101593       29801
9      Río Negro     638645      203013
10    Santa Cruz     273964      243943
11      Santa Fe    3194537      133007

**Ejercicio 1:** Haciéndonos amigues de los DF.  
* ¿Qué tipo de variable es "data_dic"?
* Investigar las funciones que se implementan en la próxima celda. ¿Qué hacen? ¿Para qué piensan que pueden ser útiles?

In [3]:
def fun():

SyntaxError: unexpected EOF while parsing (<ipython-input-3-3e6911b22efa>, line 1)

In [ ]:
# data_pandas.head()
# data_pandas.tail()
# data_pandas.count()
# data_pandas.shape

**Ejercicio 2:** Agregar al Dataset la información correspondiente a alguna jurisdicción faltante. Recuerden que, al tratarse de una nueva instancia, corresponde a una fila. Pista: googlear "add row to pandas dataframe" o similar.

In [24]:
data_pandas

    Jurisdiccion  Poblacion  Superficie
0           CABA    2890151         200
1   Buenos Aires   15625084      307521
2      Catamarca     367828      102606
3          Chaco    1055259       99633
4         Chubut      99633      509108
5        Córdoba    3308876      165321
6          Jujuy     673307       53219
7        Mendoza    1738929      148827
8       Misiones    1101593       29801
9      Río Negro     638645      203013
10    Santa Cruz     273964      243943
11      Santa Fe    3194537      133007

In [28]:
#COMPLETAR
#pd.concat([data_pandas, pd.DataFrame({'Jurisdiccion': ['Salta'], 'Poblacion': [12021], 'Superficie': [1222]})])

**Ejercicio 3:** Investigar las funciones columns e index. ¿Qué hacen? ¿Qué tipo de variable es su salida?

In [33]:
data_pandas.columns
# data_pandas.index

Index(['Jurisdiccion', 'Poblacion', 'Superficie'], dtype='object')

**Ejercicio 4:** ¿Qué hacen las siguientes operaciones?

In [35]:
# data_pandas['Jurisdiccion']
# data_pandas[['Jurisdiccion','Poblacion']]
# data_pandas.Jurisdiccion
# 'Poblacion' in data_pandas

**Ejercicio 5:** Filtrado por máscara. 
1. Seleccionar aquellas jurisdicciones cuya población sea mayor a un millón de habitantes.
2. Seleccionar aquellas jurisdicciones cuya población sea mayor a un millón de habitantes y su superficie menor a cien mil km2.

In [ ]:
COMPLETAR

**Ejercicio 6:** Agregar una columna al dataframe que corresponda a la densidad de cada jurisdicción. Usar la información que ya está en el dataset.

In [ ]:
COMPLETAR

## Iris dataset

Vamos a trabajar con el Iris Dataset, probablemente uno de los más famosos datasets. Es un dataset sencillo pero muy ilustrativo. Pueden encontrar un poco más de información en este [link](https://es.wikipedia.org/wiki/Conjunto_de_datos_flor_iris).


1. Abrir con Pandas el archivo 'DS_Clase_04_iris.csv' e imprimir sus primeros cinco elementos. Pista: pd.read...

In [ ]:
data = COMPLETAR

2. ¿Cuántas columnas (features) tiene?¿Cuáles son sus nombres?¿Y cuántas filas (instancias)?

In [ ]:
COMPLETAR

3. Obtener el valor medio y desviación estándar de cada columna. ¿Hay alguna función de Pandas que nos dé aún más estadísticos?

In [ ]:
COMPLETAR

4. ¿Creen que todas las columnas tienen información? *Tirar* la columna que crean que está demás.

In [ ]:
COMPLETAR